## Regression

1. Import Data
2. Process Data
3. Split Data
4. fit Data
5. Evaluate Data

In [2]:
import pandas as pd

In [25]:
data = pd.read_csv("bostonhousing.csv")

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.size

4995

In [26]:
data.shape

(333, 15)

In [7]:
data

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,500,0.17783,0.0,9.69,0,0.585,5.569,73.5,2.3999,6,391,19.2,395.77,15.10,17.5
329,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
330,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
331,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
332,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [8]:
X = data.iloc[:, 1:14]
y = data.iloc[:, -1]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3)

In [11]:
X_train.shape

(233, 13)

In [12]:
333*0.7

233.1

In [13]:
X_test.shape

(100, 13)

In [14]:
y_train.shape

(233,)

In [15]:
y_test.shape

(100,)

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [17]:
dt = DecisionTreeRegressor()

In [18]:
dt

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [19]:
dt.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [20]:
dt.score(X_test,  y_test)

0.685990039608569

In [21]:
y_pred = dt.predict(X_test)

In [22]:
y_test , y_pred

(247    13.8
 299    16.4
 135    36.4
 234    17.8
 2      33.4
        ...
 243    50.0
 302    20.2
 182    25.2
 159    41.7
 133    37.0
 Name: medv, Length: 100, dtype: float64,
 array([13.8, 14.8, 33.1, 14.1, 37.9, 14.6, 21.4, 22.6, 29.1, 23.2, 19.5,
        24.6, 21.4, 37.6, 23.2, 32.2, 24.6, 13.1, 24. , 15.4,  8.1, 23.9,
        24.4, 19.3, 16.6, 22.7, 26.4, 27.9, 19.8, 23. , 11.5, 24.4, 23.1,
        32.5, 19.8, 16. , 18.7, 43.1, 16.1, 21.4, 20.7, 14.8, 26.6, 22.3,
        23.2, 22.2, 29. , 23. , 14.6, 27.9, 22.7, 24.6, 13.8, 19.5, 24.3,
        22.3, 23.2, 18.4, 24.4, 34.9, 15.6, 15.2, 34.9, 20.6,  5. , 17.8,
        19.8, 29. , 19.5, 22.8, 50. , 23.9, 15.4, 42.8, 19.1, 22.3, 14.8,
        14.1,  8.3, 37.2, 18.7, 23.6, 50. , 24.4, 19.3,  7.2, 19.6, 22.7,
        22.7, 50. , 17.8, 22.3, 20.5, 11.8, 15.4, 27.9, 22.4, 25. , 37.6,
        33.1]))

In [23]:
df = pd.DataFrame()
df["y_test"] = y_test
df["y_pred"] = y_pred

In [24]:
df

     y_test  y_pred
247    13.8    13.8
299    16.4    14.8
135    36.4    33.1
234    17.8    14.1
2      33.4    37.9
..      ...     ...
243    50.0    27.9
302    20.2    22.4
182    25.2    25.0
159    41.7    37.6
133    37.0    33.1

[100 rows x 2 columns]

# classification

In [27]:
credit = pd.read_csv("CreditCardDefault.csv")

In [28]:
credit.shape

(30000, 25)

In [29]:
credit.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'next_month_payment'],
      dtype='object')

In [32]:
credit["next_month_payment"].value_counts()

0    23364
1     6636
Name: next_month_payment, dtype: int64

In [33]:
credit.drop(["ID"], axis=1, inplace=True)

In [34]:
credit

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,next_month_payment
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [36]:
len(credit.columns)

24

In [39]:
X = credit.iloc[:, 0:23]
y = credit.iloc[:, -1]

In [41]:
y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: next_month_payment, Length: 30000, dtype: int64

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, stratify = y)

In [43]:
X_train.shape

(21000, 23)

In [44]:
X_test.shape

(9000, 23)

In [45]:
from sklearn import preprocessing

In [46]:
scaler = preprocessing.StandardScaler().fit(X_train)

In [47]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [48]:
X_train

array([[-1.14141746,  0.80946751,  0.19087337, ..., -0.23797681,
        -0.2520661 , -0.23633333],
       [ 1.0134148 , -1.23538004,  1.46013899, ..., -0.29967574,
         0.23528878, -0.2934171 ],
       [-0.37183451, -1.23538004, -1.07839224, ...,  0.34483129,
        -0.31882704, -0.2934171 ],
       ...,
       [ 0.55166503, -1.23538004,  1.46013899, ...,  0.40881308,
         0.47469352, -0.2540293 ],
       [ 2.5525807 , -1.23538004,  0.19087337, ..., -0.23205371,
        -0.22876653, -0.15881357],
       [ 1.0134148 ,  0.80946751,  1.46013899, ...,  0.00881891,
         1.94570412, -0.2934171 ]])

In [49]:
from sklearn.svm import SVC

In [50]:
svm = SVC()

In [51]:
svm.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [52]:
y_pred = svm.predict(X_test)

In [56]:
y_pred.shape

(9000,)

In [57]:
y_train.shape

(21000,)

In [53]:
svm.score(X_test, y_test)

0.8122222222222222

In [54]:
from sklearn.metrics import confusion_matrix

In [58]:
confusion_matrix(y_test, y_pred)

array([[6659,  350],
       [1340,  651]], dtype=int64)