## Model Stacking Classifier

In [3]:
import pandas as pd
credit = pd.read_csv("CreditCardDefault.csv")
credit.drop(["ID"], axis=1, inplace=True)

C:\Users\PC\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\PC\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
X = credit.iloc[:, 0:23]
y = credit.iloc[:, -1]

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, stratify = y)

In [6]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

### Model Stacking

In [1]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [2]:
M1 = DecisionTreeClassifier()
M2 = GaussianNB()
M3 = SVC(probability= True)

In [7]:
M1.fit(X_train, y_train)
M2.fit(X_train, y_train)
M3.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [9]:
print(M1.score(X_train, y_train))
print(M2.score(X_train, y_train))
print(M3.score(X_train, y_train))

0.9994285714285714
0.7451428571428571
0.8260952380952381

In [10]:
M1_pred = M1.predict(X_train)
M2_pred = M2.predict(X_train)
M3_pred = M3.predict(X_train)

In [12]:
train_prediction = {
    "DT" : M1_pred,
    "NB" : M2_pred,
    "SVC" : M3_pred
}
train_predictions = pd.DataFrame(train_prediction)
train_predictions

       DT  NB  SVC
0       0   0    0
1       0   0    0
2       0   0    0
3       0   1    0
4       0   0    0
...    ..  ..  ...
20995   0   0    0
20996   0   1    0
20997   0   0    0
20998   1   0    0
20999   0   0    0

[21000 rows x 3 columns]

In [13]:
from sklearn.linear_model import LogisticRegression
smodel = LogisticRegression()

In [14]:
smodel.fit(train_predictions, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
smodel.score(train_predictions, y_train)

0.9994285714285714

### Test

In [16]:
M1_pred_test = M1.predict(X_test)
M2_pred_test = M2.predict(X_test)
M3_pred_test = M3.predict(X_test)

In [18]:
test_prediction = {
    "DT" : M1_pred_test,
    "NB" : M2_pred_test,
    "SVC" : M3_pred_test
}
test_predictions = pd.DataFrame(test_prediction)
test_predictions

      DT  NB  SVC
0      0   0    0
1      0   0    0
2      0   0    0
3      0   0    0
4      0   0    0
...   ..  ..  ...
8995   0   0    0
8996   0   0    0
8997   0   0    0
8998   0   0    0
8999   1   0    0

[9000 rows x 3 columns]

In [19]:
final_prediction = smodel.predict(test_predictions)

In [20]:
final_prediction

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [21]:
smodel.score(test_predictions, y_test)

0.7175555555555555

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(y_test, final_prediction)

0.7175555555555555

In [24]:
print(accuracy_score(y_train, M1_pred))
print(accuracy_score(y_train, M2_pred))
print(accuracy_score(y_train, M3_pred))

0.9994285714285714
0.7451428571428571
0.8260952380952381